<h1 style="font-size:40px; color:purple">All Teams</h1>
<%= link_to 'All Players', players_path, {:style=>'color:#BD2A2A;', :class => "css_class"} %><br><br>
<%= link_to 'All Coaches', coaches_path, {:style=>'color:#BD2A2A;', :class => "css_class"} %>
<h4>Sorted by Division</h4>

<% @divisions.each do |d| %>
    <h2><%= d %></h2>
    <table style="width:20%">
        <thead>
            <tr style="font-size:25px">
                <th>Name</th>
                <th>wins</th>
                <th>losses</th>
            </tr>
        </thead>
        <tbody>
            <% @teams.each do |team| %>
                <% if team.division == d %>
                    <tr>
                        <td><%= link_to team.name, team %></td>
                        <td><%= team.wins %></td>
                        <td><%= team.losses %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
<% end %>