<body>
    <div class="content">

        <h1 style="font-size:100px; color:purple"><%= @team.name %></h1>
        <h2><%= "#{@team.state},  #{@team.division}"%></h2>
        <h2>2020 Season Team Stats</h2>

        <% @stats.keys.each do |stat| %>
            <strong style="font-size:35px; color:red"><%= stat.capitalize %></strong>
            <% @stats[stat].each do |stat_key, stat_value| %>
                <p style="font-size:25px;"><b><%= "#{stat_key} < == > #{stat_value}"%></b></p>
            <% end %>
        <% end %>

        <h4><%= link_to 'All Teams', teams_path, {:style=>'color:#BD2A2A;', :class => "css_class"} %></h4>
        <h4><%= link_to 'All Player', players_path, {:style=>'color:#BD2A2A;', :class => "css_class"} %></h4>
        <h4><%= link_to 'All Coaches', coaches_path, {:style=>'color:#BD2A2A;', :class => "css_class"} %></h4>
        <h4><%= link_to 'Back', team_path(@team.id), {:style=>'color:#BD2A2A;', :class => "css_class"} %></h4><br>

    </div>
</body>