<h2>Add Workouts to <%= @routine.title %> created at <%= @routine.created_at.to_s %></h2>
<section class="section is-medium">

    <%= form_for @workouts.to_ary, method: 'patch',url:    update_routine_workouts_path do |r| %>
        <% @workouts.each_with_index do |w,i| %>
            <h2>Add workout <%= number_to_human(i+1) %></h2>
                <%= fields_for "workout #{number_to_human(i+1)}".to_sym do |ff| %>
                    <div>
                        <%= ff.label "Name of exercise" %>
                        <%= ff.text_field :name, class:"field" %>
                    </div>
                    <div>
                        <%= ff.label "Weight (lbs)" %>
                        <%= ff.text_field :weight, class:"field" %>
                    </div>
                    <div>
                        <%= ff.label :reps %>
                        <%= ff.text_field :reps, class:"field" %>
                    </div>
                    <div>
                        <%= r.label "Distance (miles)" %>
                        <%= r.text_field :distance, class:"field" %>
                    </div>
                    <div>
                        <%= ff.label "Duration (MM:ss)" %>
                        <%= ff.time_select :duration, {discard_hour: true, discard_day: true, discard_month: true ,:include_seconds => true} %>
                    </div>
                <% end %>
        <% end %>
        <div>
            <%= r.submit "Add Routine" %>
        </div>
    <% end %>

</section>