<h1>Your Routines</h1>
<h3>
<%= link_to @routines.size == 0 ? "Add your first routine" : "Add Routine", new_routine_path %>
</h3>

<% @routines.each_with_index do |r,i| %>
    <h3>Date: <%= r.get_date %></h3>
    <h4>Routine: <%= r.title %></h4>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Duration</th>
                <th>Distance</th>
                <th>Weight</th>
                <th>Reps</th>
                <th>Sets</th>
            </tr>
        </thead>
        <tbody>
            <% r.workouts.each do |w| %>
                <tr>
                    <td><%= w.name %></td>
                    <td><%= w.duration %></td>
                    <td><%= w.distance %></td>
                    <td><%= w.weight %></td>
                    <td><%= w.reps %></td>
                    <td><%= w.sets %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>